@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

.scroll-offset {
  scroll-margin-top: 100px; /* 네비게이션 바의 높이에 맞게 조정하세요 */
}

nav {
    font-family: 'Baloo Paaji', cursive;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; 
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-nav {
    flex-direction: row; 
}
.navbar-nav .nav-item {
    margin-left: 12px; 
    margin-right:20px
}
.navbar-collapse {
    flex-grow: 0; 
}
.navbar-toggler {
    margin-left: auto; 
}

.navbar-brand {
    font-size: 2em !important;
}

.frontpage,
.my-intro,
.skills,
.project,
.contact {
    padding-top: 5rem;
}

.header {
  font-family: 'Baloo Paaji', cursive;
  position: relative;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
  background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}

.header .header-content {
  margin-top: 20px;
  flex-grow: 1;
  max-width: 550px;
}

.header .header-content .header-title .up {
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
  font-weight: 500;
  color: #444;
  margin-bottom: 5px;
  position: relative;
  display: block;
}

.header .header-content .header-title .down {
  font-size: calc(30px + (75 - 30) * ((100vw - 300px) / (1300 - 300)));
  margin-bottom: 0;
  position: relative;
  display: block;
}

.header .header-content .header-subtitle {
  font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
  letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
  opacity: .8;
  margin-top: -10px;
  margin-bottom: 20px;
}

.header .header-content .btn {
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
  padding: 8px 15px;
}

.header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: .8;
  color: #212529;
}

.header-mini {
    min-height: 24rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #a59cca;
}

.about {
    display: flex;
    text-align: left;
}

.about-img-holder {
    min-width: 400px;
    max-width: 400px;
}

.section-subtitle {
  margin-bottom: 6px;
  font-weight: 400;
  opacity: .6;
  font-family: 'Baloo Paaji', cursive;
}

.section {
  padding: 70px 10px;
}

.section-title {
  font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
  color: purple;
  font-family: 'Baloo Paaji', cursive;
}

.intro-myself {
    font-family: "Hahmlet", serif;
    line-height: 2;
    font-size: large;
}

.custom-table th {
    padding: 15px;
    text-align: center;
    font-family: 'Baloo Paaji', cursive;
    font-size: 25px !important;
}

.custom-table td {
    text-align: left;
    padding: 10px;
    font-family: "Hahmlet", serif;
    font-size: 20px !important;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.custom-table tbody tr:hover {
    background-color: #e2e2e2;/
}

.custom-table th, .custom-table td {
    font-size: 16px;
}

.custom-table {
    margin: 20px 0;
    border-collapse: collapse; 
}

.service-card {
  position: relative;
  min-height: 230px;
  border: 1px solid #dee2e6;
  overflow: hidden;
  border-radius: 3px;
}

.service-card .body {
  padding: 10px;
}

.service-card .body img.icon {
  margin-top: 10px;
  width: 60%;
  margin-bottom: 10px;
  transition: all, 0.3s;
}

.contact-form .form-row {
  display: flex;
  flex-wrap: wrap;
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.blog-card {
  display: flex;
  text-align: left;
  border: 3px dotted #dee2e6;
  margin-bottom: 30px;
  border-radius: 0;
  overflow: hidden;
  margin-top: 30px;
  font-family: "Hahmlet", serif;
  align-items: center;
}

.blog-card-header {
  min-width: 350px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  flex: 1;

}

.blog-card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-card-body {
  padding: 30px 20px 30px 30px;
}

.blog-card-title {
  font-weight: 100;
}

.blog-card-caption {
  margin: 15px 0 15px !important;
}

.blog-card-caption i {
  display: inline-block;
  width: 15px;
}

.blog-card-caption a {
  margin-right: 10px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  opacity: .7;
  font-size: 13px;
}

.blog-card-link {
  text-decoration: none;
  margin-top: 20px;
  display: block;
  font-size: 13px;
}

.blog-card-link i {
  position: relative;
  top: 1px;
}


.footer {
  justify-content: space-between !important;
  display: flex;
  min-height: 70px;
  border-top: 1px solid #dee2e6;
  align-items: center;
  padding: 0 20px;
}

.footer p {
    margin: 0;
}


.footer a, .footer p {
  color: #393e46;
  padding: 4px 0;
  display: inline-block;
  margin: 0;
}

.footer .brand {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.footer .social-links {
  align-items: center;
  text-align: right !important;
}

.footer .social-links a {
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 2px solid #6c757d;
  color: #6c757d;
  margin-left: 10px;
}

.footer .social-links a:hover {
  background: #695aa6;
  border-color: #695aa6;
  color: #fff;
  text-decoration: none;
}